body {
    font-family: Arial, sans-serif;
    background: url(https://images.squarespace-cdn.com/content/v1/5fe4caeadae61a2f19719512/1610911455028-UFLLTWNBO86V05D8NFRX/20.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: rgba(0, 0, 0, 0.85);
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.4);
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.login-container:hover {
    transform: scale(1.05);
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 40%;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

button:hover {
    background-color: #ff4d4d;
    transform: scale(1.1);
}

.error-message {
    color: rgb(179, 59, 59);
    margin-top: 10px;
}
